/*@media (max-width: 650px) {
    display: flex;

}*/

body {
    margin: auto;
    background: brown;
    background-size: auto;
}

.logo1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}

h1 {
    margin: auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

p {
    margin: auto;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}


form {
    text-align: center;
}